**/__pycache__/**
__pycache__

.DS_Store


mnist_train

# tensor board stuffs
runs

# my temp files
snapshots
tensor_board_logs

apps/*/tensor_board_logs
apps/*/snapshots
apps/*/temp
apps/*/venv-app
apps/**/.ipynb_checkpoints

# cluster config
/temp
secrets

.venv

__DELETE__custom_ami

